# Contract Addresses
NEXT_PUBLIC_TIME_CAPSULE_ADDRESS=0x9e0C06f9889a633b941dc3a06AFB5604C1Bb826E
NEXT_PUBLIC_VAULT_ADDRESS=0x39FD5f11Ec52b9277c735cbD3EFe6b321f475155

# Network Configuration (Defaults used in config.ts if not set)
# NEXT_PUBLIC_EXPLORER_BASE_URL=https://blockscout.staging.midl.xyz
# NEXT_PUBLIC_RUNES_PROVIDER_URL=https://runes.staging.midl.xyz
